.description-container {
    width: calc(50% - (var(--spacing-04) / 2));

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-02);

    textarea {
        resize: none;
        height: 350px;
    }
}