.description-container {
    margin-left: var(--spacing-04);
    width: calc(50% - var(--spacing-04));
    min-width: calc(25rem + 86.82px + var(--spacing-02));

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-01);

    h2 {
        margin-left: var(--spacing-01);
    }

    textarea {
        resize: none;
        height: 300px;
    }
}