.fixed-full-page {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    min-height: 100vh;
    
    z-index: 100;
    background-color: var(--bulma-dark);
}

.page {
    padding: var(--spacing-04);
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-04);
}