.task-card {
    --edit-card-nav-background-color: var(--bulma-success);
    --edit-card-nav-text-color: var(--bulma-black);
}

.regression-card {
    --edit-card-nav-background-color: var(--bulma-danger);
    --edit-card-nav-text-color: var(--bulma-light);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-rack {
    background-color: var(--edit-card-nav-background-color);
}

.state-rack {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-02) var(--spacing-04);
    background-color: var(--bulma-black);
}

.exit-rack {
    display: flex;
    column-gap: var(--spacing-02);
}

.input {
    background-color: var(--edit-card-nav-background-color);
    color: var(--edit-card-nav-text-color);
    border: none;
    box-shadow: none;
}
.input:hover {
    box-shadow: none;
}