.space-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--spacing-03);
}

.dropdown-controls {
    display: flex;
    align-items: flex-end;
}

.icon {
    transition: color .2s ease-in-out;
}
.delete-icon:hover {
    color: var(--color-danger);
}
.edit-icon:hover {
    color: var(--color-warning);
}
.erase-icon:hover {
    color: var(--color-danger);
}
.commit-icon:hover {
    color: var(--color-success);
}