:root { 
    --color-danger: hsl(348, 100%, 61%);
    --color-warning: hsl(48, 100%, 67%);
    --color-success: hsl(141, 71%, 48%);
    --color-info: hsl(204, 86%, 53%);
    --color-link: hsl(217, 71%, 53%);
    --color-primary: hsl(171, 100%, 41%);
}