.card {
    margin-right: var(--spacing-03);
    width: calc(100% - var(--spacing-03));
    border-radius: 0;

    --header-color:  var(--bulma-black)
}

// .card.card-task {
//    // --header-color:  var(--bulma-black)
// }

// .card.card-regression {
//     // --header-color: var(--color-danger);
// }

.card-header {
    border-radius: 0 !important;
    background-color: var(--header-color);
}

.card-header-title {
    display: flex;
    justify-content: space-between;
}

.card-header-title-left {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-02);
    text-transform: capitalize;
}

.card-content {
    padding: var(--spacing-03) var(--spacing-04);
}

.card-button {
    border-radius: 0;
    display: flex;
    column-gap: var(--spacing-01);
    align-items: center;
}

.icon {
    cursor: pointer;
}

.danger-icon {
    color: var(--color-danger);
}

.warning-icon {
    color: var(--color-warning);
}

.success-icon {
    color: var(--color-success);
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-02);
}

.tags {
    display: flex;
    column-gap: var(--spacing-01);
    row-gap: var(--spacing-02);
    flex-wrap: wrap;
}

.description-text {
    max-height: 96px;
    overflow: hidden;
}